.my-box {
  border: 4px double dodgerblue;
  height: 5rem;
}

.btn2-box {
  border: 4px double red;
  min-height: 6rem;
  padding: 3rem;
  display: flex;
  // flex-direction: column;
}

.btn {
  margin: auto;
}
